<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <main class="container">
        <h1 class="title text-center">About me</h1>
        <!-- Description section -->
        <div class="card mb-3 border border-5" style="width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/Assets/images/PersonalImg.JPG" class="img-fluid rounded-start" alt="..." style="height:100%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Information about me</h5>
                  <p class="card-text">My full name is Nhat Phuc Nguyen. I am currently majoring in Software Engineering Technology in Centennial College. My hobby is football and in Canada, people call it as soccer.
                    My favorite player is Cristiano Ronaldo who is famous for not only playing skills but also lifestyle. One of my favorite quotes is:
                    <blockquote><i>Your love makes me strong. Your hate makes me unstoppable.</i></blockquote> ~Cristiano Ronaldo~
                  </p>
                    <div class="container text-center">
                      <a href="/Assets/documents/Nhat Phuc Nguyen-CompletedResume.pdf" target="_blank"><button type="button" class="btn btn-success">Download Resume</button></a> 
                    </div>                     
                </div>                
              </div>
            </div>
          </div>                            
    </main>

<%- include partials/footer.ejs %>