<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <main class="container">
        <h1 class="title text-center">Services</h1>
        <h3>As a junior software developer, i can contribute: </h3>
        <ul class="list-group p-2">
            <li class="list-group-item">Strong problem-solving skills, with a proven ability to quickly learn new technologies</li>
            <li class="list-group-item">A team-oriented person, who can work both independently and collaboratively</li>
            <li class="list-group-item">Skills in: Java, HTML/CSS, JavaScript, Python, Java, C#, Django, Node.js, Bootstrap 5, Oracle, SQL</li>
            <li class="list-group-item">Experience using tools and technologies such as GitHub, MS Office, MS Project</li>
            <li class="list-group-item">Knowledgeable in OOP concepts, database management, web design and Agile</li>
          </ul>
    </main>

<%- include partials/footer.ejs %>